/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #e5f9e0;
  --orange-color: #f0a951;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --green-color: #060707;
  --white-color: #ffffff;
  --light-green: #eaf4d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: auto;
  width: 100%;
  overflow: scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.xx-large {
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

p.normal {
  font-weight: normal;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}

/* Button */
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 20px;
}

.btn:disabled {
  opacity: 0.5;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  opacity: 0.7;
  /* background: var(--orange-color); */
  color: #fff;
  text-decoration: none;
}

.btn-orange,
.bg-orange {
  background: var(--orange-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: var(--orange-color);
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-white {
  background: #fff;
  color: var(--orange-color);
  margin-top: 1rem;
  font-weight: 700;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.bg-white {
  background: #fff;
  color: var(--orange-color);
}

/* .btn:hover {
  opacity: 0.7;
  background: var(--orange-color);
  color: #fff;
  text-decoration: none;
} */

.bg-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--white-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  opacity: 0.8;
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/registration.jpg') no-repeat center center/cover;
  height: 80vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Intro */
.intro {
  position: relative;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  animation: expand 1.5s;
}

.intro .text {
  color: var(--orange-color);
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.intro .image {
  display: inline-block;
  vertical-align: top;
  background-image: url('./img/homepage.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 40vh;
  border: 2px solid var(--primary-color);
}

/* Video */
.video {
  position: relative;
  padding: 2rem;
  height: 80vh;
}
.video-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.video-inner .text {
  color: var(--orange-color);
  font-size: 1.2rem;
  vertical-align: middle;
}

iframe {
  margin: auto;
  width: 90%;
  height: 80%;
  border: 5px solid var(--primary-color);
  padding: 10px;
  display: block;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
  text-align: center;
  /* align-items: center; */
  /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
  font-size: large;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

.textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

.form input[type='submit'],
button {
  font: inherit;
  /* margin-left: 30%; */
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.searchbox {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  border-radius: 0 0 0 0;
  outline: none;
  color: #9dbfaf;
}

.searchButton {
  width: 60px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}

.searchReset {
  width: 60px;
  height: 36px;
  border: 3px solid #00b4cc;
  background: #fff;
  text-align: center;
  color: #00b4cc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Courses Page */
.courses {
  width: 90%;
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 33% 33% 33%;
  padding: 20px;
  grid-gap: 2rem;
  align-items: center;
  color: var(--white-color);
  border-radius: 20px;
}

.single-course {
  background-color: transparent;
  /* width: 300px; */
  width: 100%;
  height: 350px;
  /* perspective: 1000px; */
}

.single-course-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* .flip-card:hover */
/* .flip-card .flip-card-inner {
  transform: rotateY(180deg);
} */

.single-course-front,
.single-course-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.single-course-front {
  display: grid;
  grid-gap: 1px;
  align-items: center;
  color: var(--green-color);
  border-radius: 20px;
  border: 2px solid var(--green-color);
  /* border-color: var(--green-color); */
  background: var(--white-color);
  font-size: small;
}

.single-course-front button {
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  margin-top: -15px;
}

.single-course-back {
  background-color: white;
  color: var(--green-color);
  font-size: medium;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-bottom: 5%; */
  width: 90%;
  overflow: auto;
  text-align: left;
  align-items: center;
}

.single-course-back h3 {
  text-align: center;
}

.single-course-back p {
  margin-bottom: 1rem;
}

.single-course-back button {
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.btnContainer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

/* Course Comparison Page */
.courseCompItem {
  /* height: 100px; */
  display: grid;
  grid-template-columns: 3fr 3px 4fr;
  grid-gap: 2rem;
  align-items: center;
  /* border: 2px solid var(--green-color); */
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.courseInfo {
  background-color: #fff;
  /* border: 1px solid var(--green-color); */
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.divider {
  background-color: var(--green-color);
  height: 100%;
  /* padding: 20px; */
  /* font-size: 20px; */
  /* text-align: center; */
}

.courseSection {
  background-color: #fff;
  /* border: 1px solid var(--green-color); */
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

/* Section Comparison Page */
.sectionCompLayout {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 30px;
}

.professorSection {
  /* height: 100px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: grid;
  /* grid-template-columns: 40% 20% 20% 20%; */
  /* grid-gap: 1rem; */
  align-items: center;
  /* border: 2px solid var(--green-color); */
  border-radius: 20px;
  /* padding: 0.5rem; */
  /* margin: 0.5rem; */
  margin-bottom: 2rem;

  /* grid-template-rows: 1fr auto; */

  grid-template-columns: repeat(5, [col] 16%);
  grid-template-rows: [row] auto [row] auto [row];
  grid-auto-rows: auto;
}

.profName {
  background-color: var(--light-color);
  /* border: 1px solid var(--green-color); */
  height: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px 0 0 0;
  text-align: center;

  grid-column: col / span 2;
  grid-row: row;
}

.profGPA,
.profQuality,
.profEasiness {
  background-color: #bfd7ea;
  height: 100%;
  /* border: 1px solid var(--green-color); */
  padding: 20px;
  font-size: 15px;
  /* border-radius: 20px 0 0 20px; */
  text-align: center;
  margin-left: 0.5rem;
  align-items: center;
  justify-items: center;

  grid-column: col2 / span;
  grid-row: row;
}

.profDetailBtn {
  background-color: #fff;

  /* border: 1px solid var(--green-color); */
  /* padding: 20px; */
  font-size: 15px;
  border-radius: 0 20px 0 20px;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 60%;
  align-items: center;
  justify-items: center;

  grid-column: col6;
  grid-row: row;
}
/* .profEasiness {
  background-color: #bfd7ea;
  padding: 20px;
  font-size: 15px;
  height: 100%;

  border-radius: 0 20px 20px 0;
  text-align: center;
  margin-left: 0.5rem;
  grid-column: col5 / span;
  grid-row: row;
} */

.sectionDetail {
  text-align: center;
  grid-row: row 2;

  display: grid;
  grid-column: col / span 5;
  width: 100%;
  /* grid-column: col / span 4;
  grid-row: row 3; */
}

.sectionCode {
  grid-column: 1;
  grid-row: 1;
}

.sectionTime {
  grid-column: 1;
  grid-row: 1;
}

/* Professor detail segment */
.sectionProfSegment {
  width: 100%;

  align-items: center;
  /* border: 1px solid var(--light-color); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Professor detail page */
.profStatsChart {
  width: 100%;
  display: grid;
  grid-row-gap: 10px;
  /* padding: 10px; */
  grid-gap: 20px;
  align-items: center;
  color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  /* grid-template-columns: repeat(4, [col] 20%); */
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: [row];
}

.profGrade {
  background-color: #fff;
  align-items: center;
  justify-items: center;
  /* width: 80%; */
  /* height: 100%; border: 1px solid var(--green-color); */
  padding: 10px;
  font-size: 15px;
  text-align: center;
  margin-left: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.profQua {
  background-color: #bfd7ea;
  height: 60%;
  /* border: 1px solid var(--green-color); */
  padding: 20px;
  font-size: 30px;
  /* border-radius: 20px 0 0 20px; */
  text-align: center;
  /* margin-left: 0.5rem; */
  align-items: center;
  justify-items: center;

  grid-column: 2;
  grid-row: 1;
}

.profEas {
  background-color: #bfd7ea;
  height: 60%;
  /* border: 1px solid var(--green-color); */
  padding: 20px;
  font-size: 30px;
  /* border-radius: 20px 0 0 20px; */
  text-align: center;
  /* margin-left: 0.5rem; */
  align-items: center;
  justify-items: center;

  grid-column: 3;
  grid-row: 1;
}

/* Reviews  */
.review {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  color: var(--dark-color);
}

.review > div:first-child {
  text-align: center;
}

.review .img {
  width: 50 px;
  /* background-image: url('./img/default-avatar.png'); */
}

.review .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.review .review-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Test Grid */
/* https://gridbyexample.com/examples/example21/ */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 150px);
  grid-template-rows: repeat(2, [row] auto);
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.c {
  grid-column: col / span 2;
  grid-row: row 2;
}

.d {
  grid-column: col 3 / span 2;
  grid-row: row 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.e {
  grid-column: 1 / 3;
  grid-row: 1;
}

.f {
  grid-column: 1;
  grid-row: 2;
}

.g {
  grid-column: 2;
  grid-row: 2;
}

/* Phone Format */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
  }

  .intro .text {
    width: 100%;
  }
  .intro .image {
    width: 100%;
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
